.empty-cart-img {
  background-image: url(../../../assets/empty-cart.png);
  height: 140px;
  width: 200px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
