.pagination {
  .page-item {
    cursor: pointer;
    user-select: none;
    &.active {
      background-color: var(--primary);
      color: var(--white);
    }
    &.disabled {
      &:hover {
        background-color: unset;
        cursor: default;
      }
    }
  }
}
